<div
    class="container py-5 flex flex-column gap-5"
    [formGroup]="formGroup">
    @for (category of getCategories(); track category) {
    <div class="">
        <h2>{{ category }}</h2>

        <div class="flex flex-wrap gap-2 mt-2">
            @let list = getList()[category]; @for (item of list; track item.name) {
            <label tuiBlock>
                <tui-avatar [src]="item.img" />
                {{ item.name }}
                <input
                    [formControlName]="item.name"
                    tuiCheckbox
                    type="checkbox" />
            </label>
            }
        </div>
    </div>
    }
</div>
